body {
  background-color: rgb(238, 236, 234);
}
.review {
  font-family: "Be Vietnam Pro", sans-serif;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 50px;
}

.line {
  padding-bottom: 5px;
  border-bottom: 4px solid rgb(0, 183, 255);
}
.quotes {
  min-width: 30%;
  width: 40%;
  min-height: 450px;
  background-color: white;
  margin: auto;
  box-shadow: 5px 5px 3px 2px gray;
}
.photo {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;

}
.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
.position {
  color: rgb(0, 183, 255);
}
p {
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.arrow-next {
  background-color: inherit;
  border: none;
  font-weight: bold;
  color: rgb(0, 183, 255);
  font-size: 36px;
  margin-left: 20px;
}
.arrow-previouse {
  background-color: inherit;
  border: none;
  font-weight: bold;
  color: rgb(0, 183, 255);
  font-size: 36px;
  margin-left: 20px;
}
.arrow-random {
  background-color: inherit;
  border: none;
  font-weight: bold;
  color: rgb(0, 183, 255);
  font-size: 36px;
  margin-left: 20px;
}
.arrow-next:hover {
  cursor: pointer;
}
.arrow-previouse:hover {
  cursor: pointer;
}
.arrow-random:hover {
  cursor: pointer;
}
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.arrow-random{
  padding-top: 10px;
  font-size: 20px;
  padding-bottom: 20px;
}
.wrapper{
  width: 150px;
  height: 150px;
  margin: auto;
  padding-top: 20px;
  margin-bottom: 20px;
}
